include upstream.conf;

server {
    listen       80 default_server{{ if getenv "NGINX_HTTP2" }} http2{{ end }};
    server_name  {{ getenv "NGINX_SERVER_NAME" "default" }};

    {{ if getenv "NGINX_MODSECURITY_ENABLED" }}
	modsecurity on;
    modsecurity_rules_file /etc/nginx/modsecurity/main.conf;
    {{ end }}

    root {{ getenv "NGINX_SERVER_ROOT" "/var/www/html" }};

    {{ if getenv "NGINX_VHOST_PRESET" }}
    include preset.conf;
    {{ end }}

    {{ if not (getenv "NGINX_VHOST_NO_DEFAULTS") }}
    include defaults.conf;
    {{ end }}

    {{ if getenv "NGINX_SERVER_EXTRA_CONF_FILEPATH" }}
    include {{ getenv "NGINX_SERVER_EXTRA_CONF_FILEPATH" }};
    {{ end }}
    location / {
	set $cors '';
	if ($http_origin ~ '^http(s)?://(.+\.)?(launch.playcanvas\.com|playcanv\.as)$') {
		set $cors 'true';
	}

	if ($cors = 'true') {
		add_header 'Access-Control-Allow-Origin' "$http_origin" always;
		add_header 'Access-Control-Allow-Credentials' 'true' always;
		add_header 'Access-Control-Allow-Methods' 'GET, POST, PUT, DELETE, OPTIONS' always;
		add_header 'Access-Control-Allow-Headers' 'Accept,Authorization,Cache-Control,Content-Type,DNT,If-Modified-Since,Keep-Alive,Origin,User-Agent,X-Requested-With' always;
		# required to be able to read Authorization header in frontend
		#add_header 'Access-Control-Expose-Headers' 'Authorization' always;
	}

	if ($request_method = 'OPTIONS') {
		# Tell client that this pre-flight info is valid for 20 days
		add_header 'Access-Control-Max-Age' 1728000;
		add_header 'Content-Type' 'text/plain charset=UTF-8';
		add_header 'Content-Length' 0;
		return 204;
	}
    }
}
